<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/home.css">
  <title></title>
</head>
<body>
<script>
  const search = ()=>{
    const searchbox = document.getElementById("searchbox");
    if(typeof searchbox === "null") return;
    const val = searchbox.value;
    const url = new URL('/search?q='+val+'&focus-search=true',window.location.origin);
    window.location.href = url.toString();
  };
</script>
<section id="search_section">
<label class="input_label">Search:</label><input class="text_input" id="searchbox" type=text onchange="search();"/>
</section>
</body>
</html>
