<section>
    <script>
      const search = ()=>{
        const searchbox = document.getElementById("searchbox");
        if(typeof searchbox === "null") return;
        const val = searchbox.value;
        const url = new URL('/search?q='+val+'&focus-search=true',window.location.origin);
        window.location.href = url.toString();
      };
    </script>
    <label>search:<input id="searchbox" type=text {{'value='+query_string if query_string else ""}} {{'autofocus' if focus_search}} onfocus="this.selectionStart=this.value.length" onChange="search()"/></label>
</section>
